*{
    margin: 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    font-family: cursive;
  }
  body{
    background-color: rgba(197, 135, 255, 0.856);
  }
  .content{
    height: 450px;
    width: 40%;
    margin: auto;
    margin-top: 4rem;
    border-radius: 50px;
    background-color: white;
    /* border: 2px solid red; */
  }
  .content h1{
    text-align: center;
    padding: 1rem;
  }
  .content form{
    display: flex;
  }
  .content form .labels, .inputs{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
  }
  .content form .labels label{
    display: block;
    text-align: right;
    margin: 2.3rem;
  } 
  .content form .inputs input, textarea{
    display: block;
    padding: .3rem;
    margin: 2rem;
    width: 12rem;
  }
  .content form .inputs input[type = submit]{
    background-color: rgb(230, 121, 121);
    padding: 1rem;
    position: absolute;
    left: 35rem;
    border-radius: 20px;
    
  }
  .circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33,#ffffffff);
    position: absolute;
  }
  
  .c1 {
    top: 100px;
    left: 40px;
  }
  
  .c2 {
    bottom: 100px;
    right: 50px;
  }